.searchIconBtn {
  margin-top: 18px;
  width: 30px;
  height: 30px;
  color: rgb(253, 253, 253);
  cursor: pointer;
}

.searchWindow {
  margin: 28px auto;
  padding: 0 10px 0 10px;
  outline: none;
  width: 75%;
  height: 25px;
  border-radius: 60px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 1px solid white;
  transition: 0.4s;
}

.searchWindow:focus {
  border: none;
  background-color: white;
  color: rgb(172, 172, 172);
}

.css-dmmspl-MuiFormGroup-root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: unset;
  flex-wrap: nowrap !important;
}
